<form
  [formGroup]="createItemForm"
  (ngSubmit)="onSubmit()"
  class="flex h-screen w-full flex-col px-5 pb-10 bg-slate-100"
>
  <h1 class="my-5 text-xl font-semibold text-somewhat-black">Add a new item</h1>
  <div class="space-y-6">
    <div class="flex flex-col gap-1">
      <label for="name"> Name </label>
      <input
        placeholder="Enter a name"
        type="text"
        id="name"
        formControlName="name"
        required
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="note">Note (optional)</label>
      <textarea
        placeholder="Enter a name"
        type="text"
        id="note"
        rows="3"
        formControlName="note"
      ></textarea>
    </div>
    <div class="flex flex-col gap-1">
      <label for="image">Image (optional)</label>
      <input
        placeholder="Enter a URL"
        type="url"
        id="image"
        formControlName="image"
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="category">Category</label>
      <input
        type="text"
        id="category"
        placeholder="Enter a category"
        formControlName="category"
        required
      />
      <ul
        class="sm mt-2 max-h-36 overflow-y-auto rounded-lg bg-white px-1 py-2 shadow"
      >
        <li>Fruits and Vegetables</li>
        <li>Meat and Fish</li>
        <li>Beverages</li>
        <li>Dairy and Eggs</li>
      </ul>
    </div>
  </div>
  <div class="mt-auto flex justify-center gap-8">
    <button
      class="rounded-md p-3 font-semibold"
      type="button"
      (click)="onCancel()"
    >
      Cancel
    </button>
    <button
      class="rounded-md bg-primary px-5 py-2 font-medium text-white"
      type="submit"
    >
      Save
    </button>
  </div>
</form>
