<aside class="flex h-full shrink-0 basis-16 flex-col justify-between py-4">
  <div class="mx-auto">
    <img src="/assets/logo.svg" alt="" />
  </div>
  <ul class="flex grow flex-col justify-center gap-16">
    <li>
      <a
        matTooltip="Items"
        matTooltipPosition="right"
        class="link-active relative flex items-center justify-center px-5 py-3"
      >
        <span class="material-symbols-outlined text-gray-700">
          format_list_bulleted
        </span>
      </a>
    </li>
    <li>
      <a
        matTooltip="History"
        matTooltipPosition="right"
        class="relative flex items-center justify-center px-5 py-3"
      >
        <span class="material-symbols-outlined text-gray-700"> replay </span>
      </a>
    </li>
    <li>
      <a
        matTooltip="Statistics"
        matTooltipPosition="right"
        class="relative flex items-center justify-center px-5 py-3 text-gray-700"
      >
        <span class="material-symbols-outlined"> insert_chart </span>
      </a>
    </li>
  </ul>
  <div class="mx-auto">
    <span
      class="material-symbols-outlined flex h-10 w-10 items-center justify-center rounded-full bg-primary text-white"
    >
      shopping_cart
    </span>
  </div>
</aside>
