<aside class="flex h-full shrink-0 basis-16 flex-col justify-between py-4">
  <div class="mx-auto" [matMenuTriggerFor]="menu">
    <img src="/assets/logo.svg" alt="" />
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon color="#374151">logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
  <ul class="flex grow flex-col justify-center gap-16">
    <li>
      <a
        matTooltip="Items"
        matTooltipPosition="right"
        class="link-active relative flex items-center justify-center px-5 py-3"
      >
      <mat-icon>
          format_list_bulleted
      </mat-icon>
      </a>
    </li>
    <li>
      <a
        matTooltip="History"
        matTooltipPosition="right"
        class="relative flex items-center justify-center px-5 py-3"
      >
        <mat-icon > replay </mat-icon>
      </a>
    </li>
    <li>
      <a
        matTooltip="Statistics"
        matTooltipPosition="right"
        class="relative flex items-center justify-center px-5 py-3 text-gray-700"
      >
        <mat-icon> insert_chart </mat-icon>
      </a>
    </li>
  </ul>
  <div class="mx-auto">
    <span
      class="material-symbols-outlined flex h-10 w-10 items-center justify-center rounded-full bg-primary text-white"
      (click)="onCartClicked()"
    >
      shopping_cart
    </span>
  </div>
</aside>
