<div class="flex h-full overflow-x-hidden">
  <app-navbar (cartClicked)="handleNavbarCartClick()"></app-navbar>
  <div
    [ngClass]="cartOpen ? 'overflow-hidden' : 'overflow-y-auto'"
    class="relative grow overflow-x-hidden"
    [ngSwitch]="cartOpen"
  >
    <!-- TODO: Look for a way for the cart sidebar to appear from the right side. It cannot take the space of the navbar  -->
    <main *ngSwitchCase="false" class="grow bg-slate-100">
      <item-dashboard></item-dashboard>
    </main>
    <aside
      *ngSwitchCase="true"
      class=""
      [ngClass]="cartOpen ? 'cart-shown' : 'cart-hidden'"
    >
      <app-shopping-cart></app-shopping-cart>
    </aside>
  </div>
</div>
