<div class="flex h-full">
  <aside class="flex h-full shrink-0 basis-16 flex-col justify-between py-4">
    <div class="mx-auto">
      <img src="/assets/logo.svg" alt="" />
    </div>
    <ul class="flex grow flex-col justify-center gap-16">
      <li>
        <a
          class="link-active relative flex items-center justify-center px-5 py-3"
        >
          <span class="material-symbols-outlined text-gray-700">
            format_list_bulleted
          </span>
        </a>
      </li>
      <li>
        <a class="relative flex items-center justify-center px-5 py-3">
          <span class="material-symbols-outlined text-gray-700"> replay </span>
        </a>
      </li>
      <li>
        <a
          class="relative flex items-center justify-center px-5 py-3 text-gray-700"
        >
          <span class="material-symbols-outlined"> insert_chart </span>
        </a>
      </li>
    </ul>
    <div class="mx-auto">
      <span
        class="material-symbols-outlined flex h-10 w-10 items-center justify-center rounded-full bg-primary text-white"
      >
        shopping_cart
      </span>
    </div>
  </aside>
  <main class="h-full overflow-y-auto bg-slate-100">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae dolorem,
    quia inventore corrupti numquam eum consectetur perferendis harum aliquid
    officia perspiciatis quod? Impedit sequi sint necessitatibus repellendus
    tempora. Eaque, ipsam. Voluptatem voluptatibus nemo obcaecati amet quo
    asperiores quasi? Nulla, a temporibus distinctio quo eos optio laborum magni
    quam animi, quod, maxime cupiditate commodi odit. Quam molestias hic tempora
    voluptatum alias! Quae eaque aliquid dolores, culpa fugit nostrum
    exercitationem debitis modi repellendus facilis soluta adipisci iste
    necessitatibus obcaecati aperiam veritatis ea nisi incidunt aliquam expedita
    quaerat. Molestias cupiditate nemo quibusdam suscipit. Soluta excepturi,
    quisquam reiciendis eaque enim expedita neque dolores adipisci quam dolor id
    dolorum. Laborum illum molestias quasi magnam porro? Est quas omnis cumque
    odio dolore autem sequi ut esse! Voluptates cum consequatur, cupiditate
    accusantium illo sunt ipsam fugit reprehenderit dolore nesciunt molestiae,
    enim recusandae velit illum. Accusantium eaque eos cum aperiam dicta
    repudiandae, itaque incidunt amet, aspernatur accusamus quisquam! Facilis
    quisquam aperiam laboriosam voluptate delectus, molestias corporis laborum
    provident voluptas, earum error atque reprehenderit nisi sapiente autem quis
    fugiat eveniet ea alias vitae suscipit. Esse fugiat recusandae distinctio
    laudantium! Perspiciatis quae id quisquam quod? At dolores eaque, quos quasi
    blanditiis nostrum nulla. A, minima. Officiis omnis quia, corporis, totam ab
    dolores ducimus delectus molestias iste, amet esse illum vitae? Ipsum
    consequuntur unde aperiam minima et beatae alias natus cumque, laboriosam
    doloribus corporis qui dolor dolorum optio numquam dolore quae odit ipsa
    doloremque harum necessitatibus ut obcaecati nulla pariatur! Unde! Mollitia
    distinctio enim asperiores. Possimus, quod repudiandae aperiam, adipisci
    minus nemo distinctio amet nostrum natus quam enim maiores ad voluptas quae,
    sit molestias nobis vel impedit. Non a aut suscipit! Cupiditate aut sequi
    hic, impedit nulla iure quidem numquam perferendis excepturi velit! Placeat,
    magnam error? Officiis accusantium vero cum laudantium aut sint totam
    repudiandae, molestiae illum consequuntur adipisci nulla eligendi?
  </main>
</div>
