<div class="flex justify-between gap-7 rounded-3xl bg-add-item px-4 py-2">
  <div class="relative bottom-5 scale-125">
    <img src="/assets/bottle.svg" class="h-auto w-full" />
  </div>
  <div class="my-auto flex flex-col gap-2">
    <span class="text-md font-semibold text-white">
      Didn't find what you need?
    </span>
    <button
      (click)="onClick()"
      class="self-start rounded-xl bg-white px-7 py-2 text-sm font-bold text-black"
    >
      Add item
    </button>
  </div>
</div>
