<div class="max-w-sm min-w-[300px] w-full" [ngSwitch]="state">
  <ng-container *ngSwitchCase="'empty'">
    <app-layout-with-save (createClick)="changeState($event)">
      <app-empty-list></app-empty-list>
    </app-layout-with-save>
  </ng-container>
  <ng-container *ngSwitchCase="'editing'">
    <app-layout-with-save (createClick)="changeState($event)">
      <app-edit-shopping-list></app-edit-shopping-list>
    </app-layout-with-save>
  </ng-container>
  <ng-container *ngSwitchCase="'creating'">
    <app-create-item-form
      (cancelForm)="changeState($event)"
    ></app-create-item-form>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <ng-template #createForm> </ng-template>
  </ng-container>
</div>
