<div class="h-full bg-shopping-list px-4 py-10">
  <app-create-item-banner></app-create-item-banner>
  <h1 class="my-10 text-2xl font-bold text-somewhat-black">Shopping list</h1>
  <section>
    <h2 class="my-6 font-semibold text-gray-500">Fruits and vegetables</h2>
    <ul class="flex flex-col gap-8">
      <app-shopping-list-item
        name="Avocado"
        [amount]="3"
      ></app-shopping-list-item>
      <app-shopping-list-item
        name="Pre-cooked corn 450g"
        [amount]="3"
      ></app-shopping-list-item>
    </ul>
  </section>
</div>
